/* Module: unifiedui */
/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\classes\alert-danger.css */
.alert-danger {
	background-color: #F44336;
	color: #fff;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\classes\alert-info.css */
.alert-info {
	background-color: #2196F3;
	color: #fff;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\classes\alert.css */
.alert {
	border: none;
	padding: 15px 20px;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\classes\block.css */
.block {
	border-radius: 2px;
	margin-bottom: 20px;
	background-color: #fff;
	color: #333;
}
	.block > .section { 
		padding: 20px; 
		margin: 0;
		border-bottom: 1px solid rgba(0,0,0,.05);
	}
	.block > .section:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px; }
	.block > .section:last-child { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-bottom: none; }
	
		.block > .section > :last-child { margin-bottom: 0; }

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\classes\shadow.css */
.shadow {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),
				0 2px 10px 0 rgba(0,0,0,.15);
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\elements\all.css */
* {
	box-sizing: border-box;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\elements\body.css */
body {
	font-family: "Roboto", Arial, sans-serif;
	margin: 60px 0 0 0;
	background-color: #eee;
	transition: all .3s ease-in-out;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\elements\headers.css */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px 0;
	padding: 0;
	font-weight: normal;
	color: #333;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\elements\p.css */
p {
	margin: 0 0 20px 0;
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\ids\content.css */
#content {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 300;
	padding: 20px;
	overflow: auto;
	transition: left .3s ease-in-out;
}

@media (min-width: 1480px) {
	#content {
		left: 250px;
	}
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\ids\header.css */
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	z-index: 800;
	transition: all .3s ease-in-out;
}
	#header a { text-decoration: none; color: #fff; }
	
	#header > * { display: inline-block; margin: 0 10px; }
	#header > h1 { font-size: 16px; line-height: 40px; margin: 0; }
		#header > h1 > a { display: block; }
	
	#header > .menuToggle { float: left; margin-left: 0; }
	
	#header > .widgets {
		float: right;
	}
	
@media (min-width: 1480px) {
	#header {
		padding-left: 270px;
	}
		#header > .menuToggle { display: none; }
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\ids\menu.css */
#menu {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	background-color: #fff;
	transition: transform .3s ease-in-out;
	z-index: 1000;
}

#menu:not(.open) {	
	transform: translateX(-100%);
}

	#menu > ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		#menu > ul > li {
			border-bottom: 1px solid rgba(0,0,0,.05);
			margin: 0;
		}
			#menu > ul > li > a {
				display: block;
				padding: 15px 20px;
				text-decoration: none;
				color: #333;
			}
			#menu > ul > li > a:hover {
				
			}
			
@media (min-width: 1480px) {
	#menu:not(.open) {
		transform: translateX(0);
	}
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\ids\menuOverlay.css */
#menuOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 900;
	visibility: hidden;
	background-color: rgba(0,0,0,.25);
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
#menuOverlay.visible { visibility: visible; opacity: 1; }

@media (min-width: 1480px) {
	#menuOverlay { display: none; }
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\ids\pageError.css */
#pageError {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	border-radius: 0;
	margin: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
#pageError:not(.visible) {
	transform: translateY(-100%);
	opacity: 0;
}

	#pageError > paper-icon-button {
		position: absolute;
		top: 5px;
		right: 5px;
	}
	
@media (min-width: 1480px) {
	#pageError {
		padding-left: 270px;
	}
}

/* E:\Development\Bliss\bliss/web\UnifiedUI/assets/css\themes\theme-bluegray.css */
.theme-bluegray body { background-color: #263238; }

.theme-bluegray #header { background-color: #607D8B; }



/* Module: docs */
/* E:\Development\Bliss/bliss/development\Docs/assets/css\module.css */
#docs { text-align: justify; position: relative; }

	#docs ul.methods,
	#docs ul.properties { padding-left: 0; }

		#docs ul.methods > li,
		#docs ul.properties > li {
			list-style: none;
			margin-bottom: 30px;
		}
		
	#docs .indent {
		padding-left: 40px;
	}
		

#toc {
	position: relative;
}
	#toc > .block {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: #fff;
		z-index: 100;
	}
	
	
.class-method {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}



